/*

MAIN

*/

body {
  /*heropatterns.com*/
  background-color: #f1f8fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2391daed' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  border: solid 15px #fff;
  font-family: 'Gothic A1', sans-serif;
}

.container-main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*

HEADER

*/

header {
  display: flex;
  align-items: center;
}

#logo {
  width: 20%;
}

.header-text-container {
  /*width: 80%;*/
  margin-left: auto;
  display: inline-block;
  text-align: right;
}

br {
  display: block;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 900;
}

/*

IMAGES

*/

#hero {
  position: relative;
}

#hero-image {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: text-bottom;
}

#hero-caption {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  color: #91DAED;
  font-size: 125%;
  font-weight: 700;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

#logo {
  height: 80px;
  width: auto;
}

/*

FEATURED WORK

*/

.work {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
}

.work-text {
  text-align: center;
}

.work-images {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.work-title {
  text-transform: uppercase;
  font-weight: 700;
}

.work-content {
  font-size: 115%;
  font-weight: 200;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
}


/*

MEDIA QUERIES

*/

@media screen and (max-width: 530px) {
  .header-text-container {
    font-size: 70%;
  }

  #logo {
    height: 50px;
    width: auto;
  }
}

@media screen and (max-width: 700px){
  #hero-caption {
    font-size: 100%;
  }
}

@media screen and (min-width: 700px) {
  br {
    display: none;
  }
  .work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .work-cell {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }

  .work-text {
    width: 50%;
    text-align: left;
    padding-top: 25px;
  }
}

@media screen and (min-width: 1050px) {
  .work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .work-cell {
    width: 50%;
    display: flex;
    margin-bottom: 50px;
  }

  .work-text {
    width: 50%;
    padding-top: 15px;
  }
}
